<h1>Hello by kesava</h1>
<h1>Hello by Hari</h1>
<h1>welcome to github</h1>


<table border="1" cellpadding="25" >
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Anandha</td>
      <td>Kumar</td>
      <td>23</td>
      <td>Male</td>
    </tr>
    <tr style="color:blueviolet;">
      <td>2</td>
      <td>Vinith</td>
      <td>Kumar</td>
      <td>21</td>
      <td>Male</td>
    </tr>
    <tr style="color:orangered;">
      <td>3</td>
      <td>Bala</td>
      <td>Murugan</td>
      <td>23</td>
      <td>Male</td>
    </tr>
    <tr style="color:red;">
      <td>4</td>
      <td>Siva</td>
      <td>Kumar</td>
      <td>23</td>
      <td>Male</td>
    </tr>
    <tr spellcheck="true" style="color:chocolate">
      <td>5</td>
      <td>Nagarajan</td>
      <td>M</td>
      <td>23</td>
      <td>Male</td>
    </tr>
    <tr spellcheck="true" style="color:slateblue">
      <td>6</td>
      <td>Maara</td>
      <td>M</td>
      <td>23</td>
      <td>Male</td>
    </tr>

  </tbody>
</table>
